@charset "UTF-8";

body {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FFFDFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    color: #404040;
    font-size: 12pt;
    font-family: 'Meiryo UI', 'ÉÅÉCÉäÉI', 'Sans-serif';
}

header {
    margin-bottom: 50px;
}

footer {
    margin-top: 100px;
    text-align: right;
}

main {
}

nav {
    font-size: 16pt;
}

nav a {
    text-decoration: none;
}

section {
    margin-bottom: 60px;
}

ul, ol {
    margin-bottom: 20px;
}

ul.marginless {
    margin-bottom: 0px;
}

li {
    margin-bottom: 5px;
}

li.dotless {
    list-style: none;
}

li.directory-icon {
    list-style-image: url("../image/icon-directory.png");
}

li.file-icon {
    list-style-image: url("../image/icon-file.png");
}

span.codeline {
    color: #000080;
    font-family: 'Consolas', 'Courier New', 'Courier', 'Monaco', 'monospace';
    white-space: pre-wrap;
}

span.codeline::after {
    content: "\A";
}

span.code-comment {
    color: #008000;
}

#copyright {
    color: #C0C0C0;
    font-size: 9pt;
    font-style: oblique;
}

