<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>環境構築</title>
        <link href="../css/default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="..">Back</a>
            </nav>
        </header>
        <main>
            <section>
                <h1>環境構築</h1>
                <ul>
                    <li><a href="#title-git">Git導入</a></li>
                    <li><a href="#title-nodejs">Node.js導入</a></li>
                    <li><a href="#title-ide">IDE導入</a></li>
                </ul>
            </section>
            <section>
                <h1 id="title-git">Git導入</h1>
                <ul>
                    <li>Git for Windows</li>
                    <ul>
                        <li><a href="https://git-for-windows.github.io/" target="_blank">https://git-for-windows.github.io/</a></li>
                        <li>「git --version」で導入確認</li>
                    </ul>
                    <li>Tortoise</li>
                    <ul>
                        <li><a href="https://tortoisegit.org/" target="_blank">https://tortoisegit.org/</a></li>
                        <li>ダウンロードページ内の <a href="https://tortoisegit.org/download/#Language_Packs" target="_blank">Language Packs</a> からUI日本語化パッチを入手すると良い</li>
                    </ul>
                    <li>Gitコミット設定</li>
                    <ul>
                        <li>赤枠部分の改行コード設定に注意</li>
                        <li class="dotless"><img src="../image/git01.png" alt="Git設定画面" /></li>
                    </ul>
                </ul>
            </section>
            <section>
                <h1 id="title-nodejs">Node.js導入</h1>
                <ul>
                    <li>Node.js</li>
                    <ul>
                        <li><a href="http://nodejs.jp/nodejs.org_ja/" target="_blank">http://nodejs.jp/nodejs.org_ja/</a></li>
                        <li>「node -v」で導入確認</li>
                    </ul>
                </ul>
            </section>
            <section>
                <h1 id="title-ide">IDE導入</h1>
                <ul>
                    <li>Eclipse</li>
                    <ul>
                        <li><a href="http://mergedoc.osdn.jp/" target="_blank">http://mergedoc.osdn.jp/</a></li>
                        <li>e-freakとしてはEclipse導入推奨というだけなので、自分に合ったのを利用すればOK</li>
                        <li>慣れていればテキストエディタだけでも。</li>
                    </ul>
                </ul>
            </section>
        </main>
        <footer>
            <div id="copyright">
                Copyright &#169; 2017 e-freak All Rights Reserved.
            </div>
        </footer>
    </body>
</html>
