<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>プロジェクト作成</title>
        <link href="../css/default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="..">Back</a>
            </nav>
        </header>
        <main>
            <section>
                <h1>プロジェクト作成</h1>
                <ul>
                    <li><a href="#title-initialize">初期化</a></li>
                </ul>
            </section>
            <section>
                <h2 id="title-initialize">初期化</h2>
                <ul>
                    <li>そのうち書く</li>
                </ul>
            </section>
        </main>
        <footer>
            <div id="copyright">
                Copyright &#169; 2017 e-freak All Rights Reserved.
            </div>
        </footer>
    </body>
</html>
