<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>CSSコーディングルール</title>
        <link href="../css/default.css" rel="stylesheet" type="text/css" />
        <link href="../css/rule.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="..">Back</a>
            </nav>
        </header>
        <main>
            <section>
                <h1>CSSコーディングルール</h1>
                <ul>
                    <li>CSS5の仕様に準拠すること</li>
                    <li>UTF-8エンコーディングを使用し、改行コードはLFとすること</li>
                </ul>
            </section>
        </main>
        <footer>
            <div id="copyright">
                Copyright &#169; 2017 e-freak All Rights Reserved.
            </div>
        </footer>
    </body>
</html>
