<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>トランスパイル</title>
        <link rel="stylesheet" href="../css/default.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="..">Back</a>
            </nav>
        </header>
        <main>
            <section>
                <h1>トランスパイル</h1>
                <ul>
                    <li><a href="#title-prepare">事前準備</a></li>
                    <li><a href="#title-execute">トランスパイル実行</a></li>
                    <li><a href="#title-hello">Hello, Script</a></li>
                </ul>
            </section>
            <section>
                <h1 id="title-prepare">事前準備</h1>
                <ul>
                    <li>gulpfile を用意する</li>
                    <ul>
                        <li>プロジェクト作成時に実施済みのはずなので割愛</li>
                    </ul>
                    <li>package.json の scripts 要素を、以下の記述に変更</li>
                    <ul>
                        <li class="dotless">
                            <code>
                                "scripts": {<br />
                                &nbsp;&nbsp;"compile": "gulp compile",<br />
                                &nbsp;&nbsp;"compile-main": "gulp compile-main",<br />
                                &nbsp;&nbsp;"compile-test": "gulp compile-test",<br />
                                &nbsp;&nbsp;"test": "gulp unit-test"<span class="code-comment">  // コンマを付けるとエラー (JSONの仕様参照)</span><br />
                                },<br />
                            </code>
                        </li>
                    </ul>
                </ul>
            </section>
            <section>
                <h1 id="title-execute">トランスパイル実行</h1>
                <ul>
                    <li>ルートディレクトリで「npm run compile」を実行</li>
                    <ul>
                        <li>よく使うことになるので、上記コマンドを記載したbatファイルを作っておくと良い</li>
                    </ul>
                    <li>src/main/jsx ディレクトリ下のスクリプトがトランスパイルされて、app/script ディレクトリ下に配置される</li>
                    <ul>
                        <li>ディレクトリ構造もそのまま維持される</li>
                        <ul>
                            <li>src/main/jsx/controller/foo.jsx をトランスパイルすると、app/script/controller/foo.js として配置される</li>
                        </ul>
                        <li>JavaScriptに package-private の概念は無いが、適宜ディレクトリを分けることを推奨</li>
                    </ul>
                </ul>
            </section>
            <section>
                <h1 id="title-hello">Hello, Script</h1>
                <ol>
                    <li>src/main/jsx ディレクトリ直下に title-view-controller.jsx を作成する</li>
                    <li>title-view-controller.jsx を実装する</li>
                    <ul>
                        <li class="dotless">
                            <code>
                                global.window.addEventListener('DOMContentLoaded', () => {<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;alert("Hello, Script.");<br />
                                }, false);<br />
                            </code>
                        </li>
                    </ul>
                    <li>title.html を実装する</li>
                    <ul>
                        <li class="dotless">
                            <code>
                                &lt;!DOCTYPE html&gt;<br />
                                &lt;html&gt;<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&lt;head&gt;<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta charset="UTF-8" /&gt;<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/head&gt;<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&lt;body&gt;<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;script src="../script/title-view-controller.js"&gt;&lt;/script&gt;<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/body&gt;<br />
                                &lt;/html&gt;<br />
                            </code>
                        </li>
                    </ul>
                    <li>トランスパイルを実行</li>
                    <ul>
                        <li>app/script に title-view-controller.js が生成されていることを確認</li>
                    </ul>
                    <li>electronプロジェクトを実行</li>
                    <li>ウィンドウ起動時に、メッセージボックスが表示されたら成功</li>
                </ol>
            </section>
        </main>
        <footer>
            <div id="copyright">
                Copyright &#169; 2017 e-freak All Rights Reserved.
            </div>
        </footer>
    </body>
</html>
